<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
  <connectionStrings>
    <add name="DEV" connectionString="DataSource=localhost;Port=3306;UID=samuel;PWD=abc123$$;Database=bipc;" />
    <!-- <add name="PROD" connectionString="DataSource=bipc-samuel-aws.cn8rfjml1v4e.us-east-1.rds.amazonaws.com;Port=3306;UID=samuel;PWD=bipc2019;Database=bipc;" /> -->
	  <!--<add name="PROD" connectionString="DataSource=samuel-mysql-instance-sarah.cffisggn6ca3.us-east-1.rds.amazonaws.com;Port=3306;UID=samuel;PWD=samarah2020;Database=bipc;" />-->
	  <add name="PROD" connectionString="DataSource=74.220.219.204;Port=3306;UID=gygppzmy_admin;PWD=abc123$$abc123$$;Database=gygppzmy_churchmgr;" />
  </connectionStrings>
</configuration>
